 .u-section-1 {
  background-image: url("images/background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 7022px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1080px;
  background-image: none;
  margin: 297px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 342px;
  height: 228px;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin-top: 35px;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 123px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 509px 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 294px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 1100px;
  min-height: 179px;
  height: auto;
  background-image: none;
  margin: 150px 11px 0 29px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  width: 267px;
  margin: 52px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1093px;
  margin: 35px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 472px;
  grid-gap: 35px 35px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-group-2 {
  min-height: 136px;
  height: auto;
  width: 1125px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  width: 1095px;
  margin: 36px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  min-height: 472px;
  grid-gap: 35px 35px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-1 .u-image-4 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 0;
}

.u-section-1 .u-image-5 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-group-3 {
  min-height: 136px;
  height: auto;
  width: 1125px;
  background-image: none;
  margin: 101px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-3 {
  grid-template-rows: auto;
  width: 1095px;
  margin: 36px 21px 0 24px;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: calc(25% - 26.25px) calc(25% - 26.25px) calc(25% - 26.25px) calc(25% - 26.25px);
  min-height: 2029px;
  grid-gap: 35px 35px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 0;
}

.u-section-1 .u-image-6 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 0;
}

.u-section-1 .u-image-7 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 0;
}

.u-section-1 .u-image-8 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 0;
}

.u-section-1 .u-image-9 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 0;
}

.u-section-1 .u-image-10 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px 0;
}

.u-section-1 .u-image-11 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-25 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-13 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 20px 0;
}

.u-section-1 .u-image-12 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-14 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 20px 0;
}

.u-section-1 .u-image-13 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-28 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-29 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-15 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 20px 0;
}

.u-section-1 .u-image-14 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-30 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-31 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-16 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 20px 0;
}

.u-section-1 .u-image-15 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-32 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-33 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-17 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 20px 0;
}

.u-section-1 .u-image-16 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-34 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-35 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-18 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 20px 0;
}

.u-section-1 .u-image-17 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-36 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-37 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-19 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-23 {
  padding: 20px 0;
}

.u-section-1 .u-image-18 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-38 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-39 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-20 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-24 {
  padding: 20px 0;
}

.u-section-1 .u-image-19 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-40 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-41 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-21 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-25 {
  padding: 20px 0;
}

.u-section-1 .u-image-20 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-42 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-43 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-22 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-26 {
  padding: 20px 0;
}

.u-section-1 .u-image-21 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-44 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-45 {
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-23 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-group-4 {
  min-height: 136px;
  height: auto;
  width: 1125px;
  background-image: none;
  margin: 101px 0 0 15px;
}

.u-section-1 .u-container-layout-27 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-4 {
  grid-template-rows: auto;
  width: 1093px;
  margin: 29px auto 60px;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
  min-height: 2093px;
  grid-gap: 35px 35px;
  grid-auto-columns: calc(50% - 17.5px);
}

.u-section-1 .u-list-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-28 {
  padding: 19px 0 20px;
}

.u-section-1 .u-image-22 {
  height: 213px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-47 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-48 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-24 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
}

.u-section-1 .u-container-layout-29 {
  padding: 19px 0 20px;
}

.u-section-1 .u-image-23 {
  height: 213px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-49 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-50 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-25 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
}

.u-section-1 .u-container-layout-30 {
  padding: 20px 0;
}

.u-section-1 .u-image-24 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-51 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-52 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-26 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
}

.u-section-1 .u-container-layout-31 {
  padding: 20px 0;
}

.u-section-1 .u-image-25 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-53 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-54 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-27 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-25 {
  background-image: none;
}

.u-section-1 .u-container-layout-32 {
  padding: 20px 0;
}

.u-section-1 .u-image-26 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-55 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-56 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-28 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-26 {
  background-image: none;
}

.u-section-1 .u-container-layout-33 {
  padding: 20px 0;
}

.u-section-1 .u-image-27 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-57 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-58 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-29 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-27 {
  background-image: none;
}

.u-section-1 .u-container-layout-34 {
  padding: 20px 0;
}

.u-section-1 .u-image-28 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-59 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-60 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-30 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-28 {
  background-image: none;
}

.u-section-1 .u-container-layout-35 {
  padding: 20px 0;
}

.u-section-1 .u-image-29 {
  height: 213px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-61 {
  text-transform: uppercase;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-62 {
  margin: 19px 30px 0;
}

.u-section-1 .u-btn-31 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4665px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 107px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 413px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 229px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-image-2 {
    height: 175px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 23px;
    margin-left: 15px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-list-3 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 1728px;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-list-4 {
    width: 940px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(2, calc(50% - 17.5px));
    min-height: 1805px;
  }

  .u-section-1 .u-image-22 {
    height: 183px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
  }

  .u-section-1 .u-image-23 {
    height: 183px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
  }

  .u-section-1 .u-image-24 {
    height: 183px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
  }

  .u-section-1 .u-image-25 {
    height: 183px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
  }

  .u-section-1 .u-image-26 {
    height: 183px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 0;
  }

  .u-section-1 .u-image-27 {
    height: 183px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 0;
  }

  .u-section-1 .u-image-28 {
    height: 183px;
  }

  .u-section-1 .u-text-60 {
    margin-right: 0;
  }

  .u-section-1 .u-image-29 {
    height: 183px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5269px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-1 .u-image-1 {
    height: 460px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    height: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
    min-height: 926px;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
  }

  .u-section-1 .u-image-4 {
    height: 198px;
  }

  .u-section-1 .u-image-5 {
    height: 198px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
    min-height: 5571px;
  }

  .u-section-1 .u-image-6 {
    height: 265px;
  }

  .u-section-1 .u-image-7 {
    height: 265px;
  }

  .u-section-1 .u-image-8 {
    height: 265px;
  }

  .u-section-1 .u-image-9 {
    height: 265px;
  }

  .u-section-1 .u-image-10 {
    height: 265px;
  }

  .u-section-1 .u-image-11 {
    height: 265px;
  }

  .u-section-1 .u-image-12 {
    height: 265px;
  }

  .u-section-1 .u-image-13 {
    height: 265px;
  }

  .u-section-1 .u-image-14 {
    height: 265px;
  }

  .u-section-1 .u-image-15 {
    height: 265px;
  }

  .u-section-1 .u-image-16 {
    height: 265px;
  }

  .u-section-1 .u-image-17 {
    height: 265px;
  }

  .u-section-1 .u-image-18 {
    height: 265px;
  }

  .u-section-1 .u-image-19 {
    height: 265px;
  }

  .u-section-1 .u-image-20 {
    height: 265px;
  }

  .u-section-1 .u-image-21 {
    height: 265px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-4 {
    width: 720px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-22 {
    height: 198px;
  }

  .u-section-1 .u-image-23 {
    height: 198px;
  }

  .u-section-1 .u-image-24 {
    height: 198px;
  }

  .u-section-1 .u-image-25 {
    height: 198px;
  }

  .u-section-1 .u-image-26 {
    height: 198px;
  }

  .u-section-1 .u-image-27 {
    height: 198px;
  }

  .u-section-1 .u-image-28 {
    height: 198px;
  }

  .u-section-1 .u-image-29 {
    height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 21105px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 273px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 89px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    height: 101px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 29px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 303px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 303px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-6 {
    height: 405px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 405px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 405px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 405px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-10 {
    height: 405px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-11 {
    height: 405px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-12 {
    height: 405px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-13 {
    height: 405px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-14 {
    height: 405px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-15 {
    height: 405px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-16 {
    height: 405px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-17 {
    height: 405px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-18 {
    height: 405px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-19 {
    height: 405px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-20 {
    height: 405px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-21 {
    height: 405px;
  }

  .u-section-1 .u-text-45 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-list-4 {
    width: 540px;
  }

  .u-section-1 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-22 {
    height: 303px;
  }

  .u-section-1 .u-image-23 {
    height: 303px;
  }

  .u-section-1 .u-image-24 {
    height: 303px;
  }

  .u-section-1 .u-image-25 {
    height: 303px;
  }

  .u-section-1 .u-image-26 {
    height: 303px;
  }

  .u-section-1 .u-image-27 {
    height: 303px;
  }

  .u-section-1 .u-image-28 {
    height: 303px;
  }

  .u-section-1 .u-image-29 {
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4906px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-image-1 {
    height: 217px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 62px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 186px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 19px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 21px;
    margin-left: 6px;
  }

  .u-section-1 .u-image-4 {
    height: 186px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 19px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 21px;
    margin-left: 6px;
  }

  .u-section-1 .u-image-5 {
    height: 186px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 19px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 21px;
    margin-left: 6px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    height: 249px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-7 {
    height: 249px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-8 {
    height: 249px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-9 {
    height: 249px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-10 {
    height: 249px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-11 {
    height: 249px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-12 {
    height: 249px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-13 {
    height: 249px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-14 {
    height: 249px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-15 {
    height: 249px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-16 {
    height: 249px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-17 {
    height: 249px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-18 {
    height: 249px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-19 {
    height: 249px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-20 {
    height: 249px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-21 {
    height: 249px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 5px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-list-4 {
    width: 340px;
  }

  .u-section-1 .u-image-22 {
    height: 186px;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-23 {
    height: 186px;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-24 {
    height: 186px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-25 {
    height: 186px;
  }

  .u-section-1 .u-text-54 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-26 {
    height: 186px;
  }

  .u-section-1 .u-text-56 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-27 {
    height: 186px;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-28 {
    height: 186px;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-29 {
    height: 186px;
  }

  .u-section-1 .u-text-62 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 5px;
  }
}