.cont-btn {
  border: 2px solid;
  background-color: #00000050;
  padding: 14px 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 300px;
  text-align: justify;
}

.cont-buttons {
  display: flex;
  justify-content: space-between;
}

.cont-btn:hover {
  border-color: white;
  color: black;
  background-color: #ffffff90;
}
