.tab-btn {
  border: 5px solid;
  background-color: #00000050;
  padding: 14px 28px;
  color: white;
  width: 220px;
  font-size: 20px;
  cursor: pointer;
}



.smbx38a {
  border-color: #6FEF00; 
}

.tab-btn-smbx38a:hover {
  background-color: #6FEF00B0;
}


.smbx2 {
  border-color: #DF1313;
}

.tab-btn-smbx2:hover {
  background: #DF1313B0;
}


.music {
  border-color: #000AFF;
}

.tab-btn-music:hover {
  background: #000AFFB0;
}

.dsm {
  border-color: #F88379;
}

.tab-btn-dsm:hover {
  background: #F88379B0;
}

.health {
  border-color: #F1C50E;
}

.tab-btn-health:hover {
  background: #F1C50EB0;
}


.other {
  border-color: #8800FF;
}

.tab-btn-other:hover {
  background: #8800FFB0;
}