.dsm-code-header {
  padding: 10px 10px 10px;
  color: black;
  background-color: #CEA7B2;
  text-align: left;
}

.dsm-code-body {
  padding: 12px 16px;
  color: black;
  background-color: #EEDEE3;
  text-align: justify;
}