.flip {
  border: 5px solid;
  background-color: #000000B0;
  padding: 14px 28px;
  color: white;
  width: 220px;
  font-size: 20px;
  width: 80%;
}


.flip-smbx38a {
  border-color: #6FEF00;
}


.flip-smbx2 {
  border-color: #DF1313;
}


.flip-music {
  border-color: #000AFF;
}


.flip-health {
  border-color: #F1C50E;
}


.flip-other {
  border-color: #8800FF;
}